# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ folders
.idea

# Ignore tokens and credentials
tokens
src/main/resources/credentials.json